.search-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.search-input {
    width: 73%;
    outline: none;
    margin-right: 20px;
}

.filter-btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}